Adafruit-Blinka
adafruit-blinka-displayio
adafruit-circuitpython-busdevice
adafruit-circuitpython-neopixel
adafruit-circuitpython-pixelbuf
adafruit-circuitpython-pypixelbuf
adafruit-circuitpython-rgb-display
adafruit-circuitpython-ssd1351
Adafruit-DHT
Adafruit-PlatformDetect
Adafruit-PureIO
asn1crypto
binary
certifi
cffi
chardet
colorzero
cryptography
distro
entrypoints
getmac
gpiozero
idna
importlib-metadata
jeepney
keyring
keyrings.alt
Mako
Markdown
MarkupSafe
numpy
Pillow
pycairo
pycparser
pycrypto
pyftdi
Pygments
PyGObject
PyMySQL
pyserial
python-apt
pyusb
pyxdg
PyYAML
recordclass
requests
rpi-ws281x
RPi.GPIO
SecretStorage
six
smbus
spidev
ssh-import-id
sysv-ipc
urllib3
zipp
