[Unit]
Description=RedYellowGreen
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/redyellowgreen/ryg.sh
PIDFile=/home/pi/redyellowgreen/ryg.pid
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
